html, body, h1 {
    margin: 0;
    padding: 0;
}

.section {
    height: 100vh;        /* Fill the window */    
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat;
}

.welcoming-section {
    background-image: url('../img/Backgrounds/TopBackground.gif');
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.contact-section { 
    background-image: url('../img/Backgrounds/Tunnel.jpg');
    color: white;
}

.contact-section h2 {
    text-align: center;
}
